:root {
  --primary-color: #2e62a8;
  --secondary-color: #f1f1f1;
  --text-dark: #333;
  --text-light: #fff;
  --card-bg: #e0e0e0;
  --card-border: #cccccc;
  --orange-btn: #f58428;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
.header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 90%;
  z-index: 1000;
}

.logo {
  background-image: url("/resources/Logo\ Metrología\ Fromi\ 2025\ ACTUALIZADO.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  display: block;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  margin-right: 20px;
  text-align: center;
  align-items: center;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
  padding: 1em 0;
}

.nav-menu li a:hover {
  color: #ff8c00;
  border-top: #fff 1px solid;
  transition: all 0.1s ease;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 78%;
  object-fit: cover;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff8c00;
}

.hero {
  background-image: url("/resources/INICIO/Banner\ inicio.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 17, 36, 0.717);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

.hero h1 {
  font-size: clamp(1em, 5vw, 5em);
  margin-bottom: 10px;
  line-height: 1.2;
  font-weight: 700;
}

.hero h1 span {
  color: #ff8c00;
}

.hero p {
  font-size: 3em;
  margin-bottom: 30px;
}

.btn-quote {
  background-color: #ff8c00;
  color: #fff;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.btn-quote:hover {
  background-color: transparent;
  color: #ff8c00;
  border: 2px solid #ff8c00;
}

/* Ambos contenedores hijos de el siguiente tenian que estar posicionados con z-index y el 
padre con position absolute, hero position relative*/
.accreditations-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  height: auto;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  z-index: 2;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.accreditations-box {
  background-color: rgb(224, 223, 223);
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  width: auto;
  height: auto;
}

.accreditations-box h2 {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
}

.catalog-box {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.catalog-box p {
  color: #333;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
}

.btn-catalog {
  background-color: #ff8c00;
  border: 3px solid #ff8c00;
  color: white;
  padding: 10px 25px;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.3s ease;
  width: 30%;
  height: 10%;
}

.catalog-box a {
  justify-content: center;
  font-size: 1.5em;
}

.btn-catalog:hover {
  color: #ff8c00;
  background-color: transparent;
}

.history-section {
  padding: 200px 20px 0 20px;
  background-color: rgb(244, 244, 244);
  text-align: center;
}

.history-container {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5em;
}

.history-text-container {
  background-color: white;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3);
  padding: 1em;
  width: auto;
  padding: 1.5em;
}

.history-section h2 {
  font-size: 2.5em;
  font-weight: 700;
  color: rgb(0, 126, 195);
}

.history-intro {
  font-size: 1.2em;
  color: #555;
  max-width: 800px;
  margin: 0 auto 10px;
  font-weight: bold;
}

.history-sub-intro {
  font-style: normal;
  color: black;
}

/* Estilos de la línea de tiempo */

#fromiLogo {
  width: 70%;
  height: auto;
  object-fit: cover;
}

#emmaLogo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Contenedor principal de la línea de tiempo */

.timeline-container {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 8em;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1;
  background-color: rgb(244, 244, 244);
}

.timeline-item.content,
.timeline-item.empty {
  display: flex;
  text-align: start;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.timeline-item.content h3 {
  color: #ff8c00;
  font-size: 2em;
}

.timeline-item.content p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.4;
}

.timeline-item.content img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

#timeline-container-top,
#timeline-container-bottom {
  display: flex;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  gap: 1em;
  margin: 0 auto;
  width: 90%;
}

#timeline-container-top {
  border-bottom: #007bff 2.5px solid;
}

#timeline-container-bottom {
  border-top: #007bff 2.5px solid;
}

.servicios-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  gap: 1em;
  padding: 5em;
}

.servicios-container-text {
  color: #007bff;
  font-size: 1.4em;
  text-align: center;
}

.servicio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
}

.servicio-item p {
  font-size: 1em;
}

.servicios-iconos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 50vw;
  gap: 6em;
  background-color: white;
  text-align: center;
}

.servicios-iconos-container img {
  object-fit: cover;
  width: 100px;
}

.servicios-iconos-container img [src="/resources/siderurgia.png"] {
  width: 20px;
}

.servicios-iconos-container p {
  font-weight: 700;
  color: black;
}

.mision-vision-container {
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
  gap: 9em;
  color: black;
}

.mision-box,
.vision-box {
  background-color: white;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  padding: 2em;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 450px;
  line-height: 1.5em;
}

.mision-box h2,
.vision-box h2 {
  color: #ff8c00;
}

.mision-box p,
.vision-box p {
  font-size: 1.1em;
}

.mision-box img,
.vision-box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 1em;
}

.btn-agendar-container {
  color: #fff;
  padding: 2em;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1em;
  transition: background-color 0.3s ease;
  font-weight: 700;
  text-align: center;
}

.btn-agendar-container p {
  text-decoration: none;
}

.btn-agendar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  width: 100%;
  background-color: rgb(244, 244, 244);
  padding: 1em;
}

.btn-agendar-section a {
  background-color: #ff8c00;
  padding: 1em;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.btn-agendar-section a:hover {
  background-color: white;
  color: #ff8c00;
  border: 2px solid #ff8c00;
}

.lema-section {
  background: linear-gradient(rgb(226, 225, 225, 0.92)),
    url(/resources/fondoimagenlema.png);
}

.lema-container {
  padding: 3em;
  text-align: center;
  color: black;
  font-weight: bold;
}

.lema-container h2 {
  color: #007bff;
  font-size: 3em;
  line-height: 1.5em;
}

.lema-container p {
  font-size: 1.5em;
  color: black;
}

.comentarios-section {
  background-image: url("/resources/textura.png");
}

.comentarios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 2em;
  gap: 2em;
  text-align: center;
  color: black;
  line-height: 1.5em;
  padding: 2em;
  font-size: 1.4em;
}

.comentarios-tarjeta-container {
  background-color: white;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  padding: 1em;
  width: 50%;
  text-align: center;
}

.comentarios-tarjeta-container h3 {
  font-size: 1em;
}

.programa-calibracion-section {
  display: flex;
  justify-content: center;
  color: #ff8c00;
  align-self: center;
}

.programa-calibracion-container {
  width: 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.5em;
}

.programa-calibracion-imgtext-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  width: 100%;
  gap: 2em;
}

.programa-calibracion-imgtext-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.item-programa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  flex: 1 1 250px;
  max-width: 300px;
}

.item-programa img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.item-programa p {
  font-size: 1em;
  color: #333;
  margin: 0;
  font-weight: bold;
}

/* Sección de Cotización */
.quote-section {
  padding: 50px 5%;
  background-color: var(--secondary-color);
}

.quote-container {
  display: flex;
  align-items: center;
  background-color: var(--text-light);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.quote-container .image-container {
  flex: 1;
  max-width: 50%;
}

.quote-container .image-container img {
  padding: 1em;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.quote-container .text-container {
  flex: 1;
  padding: 40px;
  text-align: left;
}

.quote-container h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.quote-container p {
  color: var(--text-dark);
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.btn-primary {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 40px;
  background-color: var(--orange-btn);
  color: var(--text-light);
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #d16e20;
}

.footer {
  background-color: #ff8c00;
  color: var(--text-light);
  padding: 40px 5%;
  font-size: 0.9rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-info p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.contact-info p span {
  font-size: 1.5rem;
  margin-right: 10px;
  line-height: 1;
}

.footer-social-icons {
  display: flex;
  align-items: center;
}

.footer-social-icons a img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.footer-social-icons p {
  margin-left: 20px;
}

.copyright {
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px 5%;
  }

  .nav-menu {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .nav-menu li {
    margin: 5px 10px;
  }

  .social-icons {
    margin-top: 10px;
  }

  .services-grid,
  .metrology-grid {
    grid-template-columns: 1fr;
  }

  .banner h1 {
    font-size: 2rem;
  }

  .banner p {
    font-size: 1rem;
  }

  .quote-container {
    flex-direction: column;
  }

  .quote-container .image-container,
  .quote-container .text-container {
    max-width: 100%;
    text-align: center;
  }

  .quote-container .image-container img {
    height: 200px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-social-icons {
    margin-top: 20px;
    flex-direction: column;
  }

  .footer-social-icons a {
    margin: 10px 0;
  }

  .footer-social-icons p {
    margin: 10px 0;
  }
}
